**/__pycache__
**/bleu_plots
**/bleu_plots
**/data
**/multiling_comparison_plots
**/multiling_detectors
**/neuron_lists
**/results
**/sorted_indices
**/transformers_cache
**/.history-bhattacharya
**/*.log
**/*.out
**/*.err
**/model_entropy/*.csv

