**/__pycache__
**/bleu_plots
**/bleu_plots
**/data
**/multiling_comparison_plots
**/multiling_detectors
**/neuron_lists
**/results
**/results_english
**/cluster_lists
**/sorted_indices
**/transformers_cache
**/.history-bhattacharya
**/*.log
**/*.out
**/*.err
**/*.csv
**/*.png
**/*.pdf
**/model_entropy/*.csv

