**/__pycache__
**/.cache
**/.combinator_pics
**/data
**/detector_pics
**/entropy_data
**/entropy_plots
**/max_index
**/model_layer_dist
**/rank_data
**/rank_plots
**/snapshots
**/sparsity_data
**/sparsity_plots
**/transformers_cache
**/.history-bhattacharya
**/*.log
**/*.out
**/*.err
**/*.csv
**/*.png
**/*.pdf

